.fondo{
    background-color: antiquewhite;
}
#principal {
border: solid 1px #cccccc;
padding: 5px;
margin: 0 auto;
width: 85%;}

legend{
    border: solid 1px #ff7f50;
    padding: 5px;
    font-weight: bold;
    background-color: #ffa07a;
    border-radius: 15px;
}

body{
    font-family: "Arial";
}

#mifoto {
border: solid 2px;
margin: 10px;
}

#logo713{
    padding: 5px;
}

.container {
margin-top: 1.5;
}

.color{
    background-color: black;

}

